# Taps
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"

brew "bash"
brew "bash-completion@2"
brew "mas"
brew "docker"
brew "gnu-sed"
brew "gnu-tar"
brew "go"
brew "helm"
brew "htop"
brew "jq"
brew "fzf"
brew "kubernetes-cli"
brew "kustomize"
brew "libyaml"
brew "mackup"
brew "mpv"
brew "nmap"
brew "obfs4proxy"
brew "protobuf"
brew "tor", restart_service: :changed
brew "watch"
brew "wget"
brew "yq"

cask_args appdir: "~/Applications", require_sha: true

cask "burp-suite"
cask "drawio"
cask "firefox"
cask "iterm2"
cask "jetbrains-toolbox"
cask "lens"
cask "mailspring"
cask "postman"
cask "sublime-text"
cask "telegram"
cask "wireshark"

# 'mas install'
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Keynote", id: 409183694
